body {
    display: flex;
    margin: 8px;
}
div{
    width: 100px;
    height: 100px;
    border: solid red 1px;
}
div{
    animation: move  2s infinite;
}
@keyframes move {
    to {margin-left: 600px;}
}