nav > ul
{
    float: left;
}
ul.vertical > li
{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}
ul.vertical > li >a
{
    display: block;
    padding: 30px;
    color: darkred;
    text-decoration: none;
    font-size: 100%;
}
header > h1
{
    text-align: center;
}
img
{
    width: 200px;
    float: left;

    overflow: hidden;
    padding: 12px;
}
#news article
{
    overflow: hidden;
    padding: 15px 10px;
    border-bottom: 1px dashed #aaa;
}
#news article > div{
    margin-left: 200px;
}
footer{
    clear: left;
    padding: 20px;
}